<!DOCTYPE html>
<html>
<body>
<h1>Robo Dash</h1>
<form action = "/" method = "POST" enctype='multipart/form-data'>
    <label for="speed">Base Speed:</label><br>
    <input type="text" id="speed" name="speed" placeholder="35"><br>
    <label for="error_offset">Error Offset:</label><br>
    <input type="text" id="error_offset" name="error_offset" placeholder="15"><br>
    <label for="kP">kP:</label><br>
    <input type="text" id="kP" name="kP" placeholder="0.05"><br>
    <label for="kI">kI:</label><br>
    <input type="text" id="kI" name="kI" placeholder="0.005" ><br>
    <label for="kD">kD:</label><br>
    <input type="text" id="kD" name="kD" placeholder="0.005" ><br>
    <button type="submit" id="sub" name="sub">Submit</button><br>
</form>
</div>

</body>
</html> 